* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
}

.page-title {
	text-align: center;
}

@import 'directives/navbar';
@import 'states/home';
@import 'states/signup';
@import 'states/signup-review';
